# Compiler files
cache/
out/
node_modules/
pnpm-lock.yaml

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
private.key

# Docs
# vendor/

# Dotenv file
.env
